[Unit]
Description=KDE Plasma Workspace Core
Wants=plasma-plasmashell.service plasma-kcminit.service plasma-kded.service plasma-kcminit-phase1.service graphical-session-pre.target
Requires=plasma-ksmserver.service
After=graphical-session-pre.target plasma-kwin_wayland.service
RefuseManualStart=yes
StopWhenUnneeded=true
