[Desktop Entry]
Type=XSession
Exec=startcask-x11
TryExec=startcask-x11
DesktopNames=MAUI
Name=Cask (X11)
Comment=Cask by Maui
X-KDE-PluginInfo-Version=5.23.4
